@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header {
  width: 100%;
  background-color: #222831;
  color: #eeeeee;
  padding: 20px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 40px;
}

.activityBtn,
.clearBtn {
  background-color: #222831;
  color: #eeeeee;
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.activityBtn:hover,
.clearBtn:hover {
  background-color: #393e46;
}

.activities {
  width: 100%;
  padding: 30px;
}

.renderActivity {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.activityDiv {
  background-color: #00adb5;
  color: white;
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.load {
  color: #00adb5;
}

.edit-icon {
  width: 26px;
  cursor: pointer;
}

.delete-icon:hover {
  cursor: pointer;
}

.textarea {
  resize: none;
  overflow: hidden;
  background-color: #00adb5;
  border: none;
  color: white;
  padding: 20px 25px;
  width: 20rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.textarea:focus {
  all: unset;
  font-size: 0.8rem;
  padding: 10px 25px;
  width: 20rem;
}

.hidden {
  display: none;
}
